.DS_Store
/node_modules
/packages/*/node_modules
/packages/*/LICENSE
/packages/*/license.md
/packages/*/.nyc_output
/packages/*/package-lock.json
*.hg
*.log
*.cache
/build
/.eslintcache
/browser.js
/browser-polyfill.js
/runtime.js
yarn.lock
lerna-debug.log
.npmrc
*.lerna_backup
ideas.md
deps-graph.png
package-lock.json
testStats.md
.nyc_output
package.json.lerna_backup