# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# we use yarn
package-lock.json

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# build
.next/
out/
build/
dist/
types/

# misc
.cache
.DS_Store
*.pem
ideas.md
deps-graph.png
.nyc_output
testStats.md
package.json.lerna_backup

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# testing tsc build output:
dist_ts/