.DS_Store
/node_modules
/packages/*/node_modules
/packages/*/LICENSE
/packages/*/license.md
/packages/*/.nyc_output
/packages/*/package-lock.json
*.hg
*.log
*.cache
/build
/.eslintcache
/browser.js
/browser-polyfill.js
/runtime.js
coverage
yarn.lock
lerna-debug.log
.npmrc
*.lerna_backup
/packages/ava/.nyc_output
/packages/ava/coverage
ideas.md
testStats.md
