min-release-age=2

; BEGIN generated Codsen release-age exclusions
; Regenerate with npm run ci:generate:npmrc
min-release-age-exclude[]=@codsen/data
min-release-age-exclude[]=all-named-html-entities
min-release-age-exclude[]=array-group-str-omit-num-char
min-release-age-exclude[]=array-includes-with-glob
min-release-age-exclude[]=array-pull-all-with-glob
min-release-age-exclude[]=arrayiffy-if-string
min-release-age-exclude[]=ast-compare
min-release-age-exclude[]=ast-contains-only-empty-space
min-release-age-exclude[]=ast-deep-contains
min-release-age-exclude[]=ast-delete-object
min-release-age-exclude[]=ast-get-object
min-release-age-exclude[]=ast-get-values-by-key
min-release-age-exclude[]=ast-is-empty
min-release-age-exclude[]=ast-loose-compare
min-release-age-exclude[]=ast-monkey
min-release-age-exclude[]=ast-monkey-traverse
min-release-age-exclude[]=ast-monkey-traverse-with-lookahead
min-release-age-exclude[]=ast-monkey-util
min-release-age-exclude[]=charcode-is-valid-xml-name-character
min-release-age-exclude[]=check-types-mini
min-release-age-exclude[]=codsen
min-release-age-exclude[]=codsen-format-diagnostic-value
min-release-age-exclude[]=codsen-glob
min-release-age-exclude[]=codsen-utils
min-release-age-exclude[]=color-shorthand-hex-to-six-digit
min-release-age-exclude[]=csv-sort
min-release-age-exclude[]=csv-sort-cli
min-release-age-exclude[]=csv-split-easy
min-release-age-exclude[]=detect-is-it-html-or-xhtml
min-release-age-exclude[]=detergent
min-release-age-exclude[]=edit-package-json
min-release-age-exclude[]=email-all-chars-within-ascii
min-release-age-exclude[]=email-all-chars-within-ascii-cli
min-release-age-exclude[]=email-comb
min-release-age-exclude[]=extract-search-index
min-release-age-exclude[]=generate-atomic-css
min-release-age-exclude[]=generate-atomic-css-cli
min-release-age-exclude[]=html-all-known-attributes
min-release-age-exclude[]=html-crush
min-release-age-exclude[]=html-entities-not-email-friendly
min-release-age-exclude[]=html-entity-codec
min-release-age-exclude[]=html-img-alt
min-release-age-exclude[]=html-table-patcher
min-release-age-exclude[]=is-char-suitable-for-html-attr-name
min-release-age-exclude[]=is-html-attribute-closing
min-release-age-exclude[]=is-html-tag-opening
min-release-age-exclude[]=is-language-code
min-release-age-exclude[]=is-media-descriptor
min-release-age-exclude[]=is-relative-uri
min-release-age-exclude[]=js-row-num
min-release-age-exclude[]=js-row-num-cli
min-release-age-exclude[]=json-comb
min-release-age-exclude[]=json-comb-core
min-release-age-exclude[]=json-sort-cli
min-release-age-exclude[]=json-variables
min-release-age-exclude[]=lerna-clean-changelogs
min-release-age-exclude[]=lerna-clean-changelogs-cli
min-release-age-exclude[]=object-all-values-equal-to
min-release-age-exclude[]=object-boolean-combinations
min-release-age-exclude[]=object-delete-key
min-release-age-exclude[]=object-fill-missing-keys
min-release-age-exclude[]=object-flatten-all-arrays
min-release-age-exclude[]=object-flatten-referencing
min-release-age-exclude[]=object-merge-advanced
min-release-age-exclude[]=object-no-new-keys
min-release-age-exclude[]=object-set-all-values-to
min-release-age-exclude[]=ranges-apply
min-release-age-exclude[]=ranges-crop
min-release-age-exclude[]=ranges-ent-decode
min-release-age-exclude[]=ranges-invert
min-release-age-exclude[]=ranges-is-index-within
min-release-age-exclude[]=ranges-merge
min-release-age-exclude[]=ranges-process-outside
min-release-age-exclude[]=ranges-push
min-release-age-exclude[]=ranges-sort
min-release-age-exclude[]=regex-empty-conditional-comments
min-release-age-exclude[]=rehype-responsive-tables
min-release-age-exclude[]=remark-conventional-commit-changelog-timeline
min-release-age-exclude[]=remark-typography
min-release-age-exclude[]=str-indexes-of-plus
min-release-age-exclude[]=string-apostrophes
min-release-age-exclude[]=string-character-is-astral-surrogate
min-release-age-exclude[]=string-collapse-leading-whitespace
min-release-age-exclude[]=string-collapse-white-space
min-release-age-exclude[]=string-convert-indexes
min-release-age-exclude[]=string-dashes
min-release-age-exclude[]=string-extract-class-names
min-release-age-exclude[]=string-extract-sass-vars
min-release-age-exclude[]=string-find-heads-tails
min-release-age-exclude[]=string-find-malformed
min-release-age-exclude[]=string-fix-broken-named-entities
min-release-age-exclude[]=string-left-right
min-release-age-exclude[]=string-match-left-right
min-release-age-exclude[]=string-process-comma-separated
min-release-age-exclude[]=string-range-expander
min-release-age-exclude[]=string-remove-duplicate-heads-tails
min-release-age-exclude[]=string-remove-thousand-separators
min-release-age-exclude[]=string-remove-widows
min-release-age-exclude[]=string-split-by-whitespace
min-release-age-exclude[]=string-strip-html
min-release-age-exclude[]=string-trim-spaces-only
min-release-age-exclude[]=string-typo-match
min-release-age-exclude[]=string-uglify
min-release-age-exclude[]=string-unfancy
min-release-age-exclude[]=test-mixer
min-release-age-exclude[]=tsd-extract
min-release-age-exclude[]=update-versions
min-release-age-exclude[]=util-array-object-or-both
min-release-age-exclude[]=util-nonempty
; END generated Codsen release-age exclusions
