# folders:
.turbo
.idea
.nyc_output
coverage
docs
examples
fixtures
media
perf
reference
src
tap
temp
test
test_alt
test-folder
test-util
t-util

# files:

.all-contributorsrc
.babelrc
.editorconfig
.eslintrc
.eslintrc.json
.gitattributes
.gitignore
.npmignore
.prettierignore
.travis.yml
benchmark.js
bitbucket-pipelines.yml
chlu_adds_missing_diff_links.gif
cli_bak.js
contributing.md
feature1.gif
fixture_hashes.json
ideas.md
package_bak.json
package.json.lerna_backup
README_FUTURE.md
rollup.config.js
test.js
test.zip
testStats.json
testStats.md
test_bak.js
travis.js
tsconfig.build.json
tsconfig.json
yarn-error.log