name: Codsen CI

on:
  push:
    branches: ["main"]

jobs:
  build:
    name: build
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed to push commits
      id-token: write

    steps:
      - name: prepare
        run: |
          git config --global user.email "${{ secrets.USER_EMAIL }}"
          git config --global user.name "${{ secrets.YOUR_NAME_SURNAME }}"

      - name: check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: set up Node
        uses: ./.github/actions/setup-node

      - name: install dependencies
        run: npm ci

      # bump versions straight away because build will
      # hardcode them in licence headers in dist/*.js
      - name: lerna version
        run: npm run ci:lerna:version

      # build but skip @codsen/data (./data/*) because it will need the
      # updated/bumped packages' sources (incl. package.json's)
      - name: build packages
        run: npm run build -- '--filter=./packages/**'

      # build @codsen/data
      - name: build @codsen/data
        run: |
          npm run build -- '--filter=./data/**'
          npm run ci:generate:info
          npm run ci:generate:changelogs
          npm run ci:build:root-readme

      - name: commit the build artefacts
        run: |
          git add .
          git diff-index --quiet HEAD || git commit -m 'chore: automated build tasks [skip ci]' --no-verify

      - name: upload build artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: packages-folder
          path: packages/
          retention-days: 1

      - name: upload @codsen/data dist
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: codsen-data-dist
          path: data/dist/
          retention-days: 1

  static_analysis:
    name: static analysis
    needs: [build]
    uses: ./.github/workflows/static_analysis.yml
    secrets: inherit

  release:
    name: release
    needs: [static_analysis]
    runs-on: ubuntu-latest
    steps:
      - name: check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: set up Node
        uses: ./.github/actions/setup-node

      - name: install dependencies
        run: npm ci

      - name: download built packages folder
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: packages-folder
          path: packages/

      - name: download @codsen/data dist
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: codsen-data-dist
          path: data/dist/

      - name: remove type=module from CJS packages
        run: npm run cjs-on

      - name: publish all packages to npm
        run: |
          npm run letspublish --workspace=packages
          npm run publ --workspace=data
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: commit the latest
        run: |
          git add .
          git diff-index --quiet HEAD || git commit -m 'chore: post-release build tasks [skip ci]' --no-verify

      - name: restore type=module in CJS packages
        run: npm run cjs-off

      - name: push to git remote
        run: |
          git push
          git push origin --tags
