name: Codsen CI

on:
  push:
    branches: ["main"]

jobs:
  build:
    name: Codsen Release
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed to push commits
      id-token: write

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Lint
            cmd: 'lint'
          - name: Examples
            cmd: 'examples'
          - name: Unit test
            cmd: 'unit'

    steps:
      - name: prepare
        run: |
          git config --global user.email "${{ secrets.USER_EMAIL }}"
          git config --global user.name "${{ secrets.YOUR_NAME_SURNAME }}"

      - name: check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"

      - name: install dependencies
        run: npm ci

      # bump versions straight away because build will
      # hardcode them in licence headers in dist/*.js
      - name: lerna version
        run: npm run ci:lerna:version

      # build but skip @codsen/data (./data/*) because it will need the
      # updated/bumped packages' sources (incl. package.json's)
      - name: build packages
        run: npm run build -- '--filter=./packages/**'

      # build @codsen/data
      - name: build @codsen/data
        run: |
          npm run ci:generate:info
          npm run ci:generate:changelogs
          npm run ci:build:root-readme
          npm run build -- '--filter=./data/**'

      - name: ${{ matrix.name }}
        run: npm run ${{ matrix.cmd }}

      # it will save down the latest dep version in perf/historical.json
      - name: run perf
        run: |
          echo "Skipping perf for now"

      - name: git-add the build artefacts
        run: |
          git status
