---
name: Static Analysis
on:
  workflow_call:

jobs:
  static_analysis:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Lint
            cmd: 'lint'
          - name: Examples
            cmd: 'examples'
          - name: Unit test
            cmd: 'unit'
    steps:
      - name: check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: set up Node
        uses: ./.github/actions/setup-node

      - name: install dependencies
        run: npm ci

      - name: download built packages folder
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: packages-folder
          path: packages/

      - name: ${{ matrix.name }}
        run: npm run ${{ matrix.cmd }}
